# Set Union() Method

# Example no 1

In [1]:
A = {2,3,5}
B = {1,3,5}
print('A U B =',A.union(B))

A U B = {1, 2, 3, 5}

# Example no 2

In [2]:
A = {'a','c','d'}
B = {'c','d',2}
C = {1,2,3}

print('A U B =',A .union(B))
print('B U C =',A.union(C))
print('A U B U C =',A.union(B,C))
print('A.union() =',A.union())

A U B = {'d', 2, 'a', 'c'}
B U C = {'d', 1, 2, 3, 'a', 'c'}
A U B U C = {'d', 2, 1, 3, 'a', 'c'}
A.union() = {'d', 'c', 'a'}

# Example no 3

In [3]:
def union (set1,set2):
    return set1.union(set2)
set1 = {1,2,3}
set2 = {3,4,5}
result = union(set1,set2)
print("Union of set1 and set2:",result)

Union of set1 and set2: {1, 2, 3, 4, 5}

# Example no 4

In [4]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2,{5,6,7}))

{1, 2, 3, 4, 5, 6, 7}

# Example no 5

In [5]:
x = {"apple","banana","orange"}
y = {"SoftAsia Tech","python pro","Google"}
z = x.union(y)
print(z)

{'orange', 'SoftAsia Tech', 'Google', 'python pro', 'apple', 'banana'}